<div class="ui four item menu">
    <a class="active item" href="{% url 'manager:index' %}">Live Stream</a>
    <a class="item" href="{% url 'manager:podcast' %}">Podcast</a>
    <a class="item" href="{% url 'manager:events' %}">Events</a>
    {% if user.is_authenticated %}
            <div class="ui dropdown item" onclick="dd()">
                {{ user.username }} <i class="dropdown icon"></i>
                <div class="borderless menu">
                    <div class="item"><a href="{% url 'manager:profile' %}">Profile</a></div>
                    <div class="item"><a href="{% url 'manager:logout' %}">Logout</a></div>
                </div>
            </div>
    {% else %}
        <a class="item" href="{% url 'manager:login' %}">Login</a>
    {% endif %}
    <script>
        function dd() {
            $('.ui.dropdown').dropdown('show');
        }
    </script>
</div>
