{% extends "manager/layout.html" %}
{% block main %}
    <div class="ui link cards">
        <div class="card">
            <div class="image">
                <iframe width="290" height="290" src="https://www.youtube.com/embed/FTiX_eKvT0g" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div class="content">
                <div class="header">Matt Giampietro</div>
                <div class="meta">
                    <a>Friends</a>
                </div>
                <div class="description">
                    Matthew is an interior designer living in New York.
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">Joined in 2013</span>
                <span>
                <i class="user icon"></i>
                75 Friends
                </span>
            </div>
        </div>
    </div>
{% endblock %}
